body .container {
    position: absolute;
    z-index: 2;
    width: calc(100vw - 20px * 2);
    height: calc(100vh - 20px * 2);
    top: 0;
    left: 0;
    padding: 20px;
}
.container-inner {
    backdrop-filter: brightness(30%);
    padding: 25px;
    width: calc(100% - 25px * 2);
    height: calc(100% - 25px * 2);
    background-color: color-mix(in hsl, var(--accent-color-transparent), rgba(255, 255, 255, 0.025) 80%);
    border: 2px solid color-mix(in hsl, var(--accent-color-transparent), rgba(255, 255, 255, 0.05) 60%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
}