.fx-gradient {
    position: absolute;
    z-index: 0;
    clip-path: inset(0);

    -webkit-mask-image: url('/assets/gradient.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: url('/assets/gradient.png');
    mask-repeat: no-repeat;
    mask-size: cover;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.75;
    }
}