.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 500px;
    max-height: calc(100% - 50px * 2);
    overflow-y: auto;
    padding: 0px 50px;
}

.profile .pfp-container {
    width: min-content;
    display: flex;
    margin: 0px auto;
}

.profile .pfp-container .pfp {
    border: 2px solid color-mix(in hsl, var(--accent-color-transparent), rgba(255, 255, 255, 0.5) 20%);
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.display-name {
    font-weight: bold;
    font-size: 48px;
}

.v-centered h1,
.v-centered h1 .display-name {
    margin: 5px 0px 0px 0px;
}

.username {
    font-weight: 300;
    opacity: 0.75;
    margin: -5px 0px 0px 0px;
    color: color-mix(in hsl, var(--accent-color), white 40%);
}

.profile-separator {
    width: 100%;
    height: 2px;
    background-color: color-mix(in hsl, var(--accent-color-transparent), rgba(255, 255, 255, 0.5) 20%);
    margin: 25px 0px;
}